
#obstacle
{
  height: auto;
  width: auto;
  position: absolute;  
  top: 0px;  
  left:50%;  }

#movable {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 65px;
  height: 65px;
}
#hole {
  height: 50%;
  width: 30%;
  position: absolute;  
  bottom: 0;  
  right:0;
}
#output {
  color: rgb(20, 40, 33);
}

.rouge {
  color: red;
  font-size: 20px;
  text-decoration: underline;
}

.vert {
  color: green;
  font-size: 30px;
}

.loop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}