
#obstacle
{
  height: auto;
  width: auto;
  position: absolute;  
  top: 0px;  
  left:50%;  }

#movable {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 50px;
  height: 50px;
}
#hole
{
  height: auto;
  width: auto;
  position: absolute;  
  top: 0px;  
  left:50%;
}





#output {
  color: rgb(20, 40, 33);
}

.rouge {
  color: red;
  font-size: 20px;
  text-decoration: underline;
}

.vert {
  color: green;
  font-size: 30px;
}

.loop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
}